.clip-yt-card {
  cursor: pointer;
  width: 180px;
  flex: 0 0 180px;
}

.clip-yt-card .vertical-wrapper {
  aspect-ratio: 9 / 16;
  border-radius: 12px;
}

.clip-yt-card .yt-title {
  font-size: 13px;
}

.clip-yt-card .yt-views-time {
  font-size: 11px;
}

@media (max-width: 600px) {
  .clip-yt-card {
    width: 140px;
    flex: 0 0 140px;
  }
}
