@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.05);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.optimized-image-skeleton {
  transition: opacity 0.5s ease-in-out;
}

.optimized-image-skeleton.hidden {
  opacity: 0;
  pointer-events: none;
}

.optimized-image {
  display: block;
}
